.swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      max-height:390px;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    
      
      @media (max-width: 575px) {
          .swiper-prev{

    right: 0;
    position: absolute;
    z-index: 10;
          
      }
      .swiper-wrapper .swiper-slide{
          margin-right: 10px!important;
      }
      }