.container{
    max-width:1200px;
    margin:0 auto;
}
.blog h2{
    text-align:center;
}
.blog .blog__main{
    margin-top:60px;
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap:40px;
    /*grid-auto-rows:160px;*/
}

.blog .blog__main .blog__card .card__text p{
     color:black;
}