.page-wrapper {
    display: flex;
    min-height: 100vh;
    min-height: 100dvh;
    flex-direction: column;
}

*:not(.fa-solid,.fa,.far,.fas) {
    font-family: "Roboto", serif !important;
}

body {
    font-family: "Roboto", serif !important;
    font-optical-sizing: auto !important;
}

.header {
    box-shadow: 1px 1px 26px 13px rgba(0, 0, 0, 0.04);
}

.cart-dropdown{
    display: none;
}

.btnAddToCart{
    display: none !important;
}

footer {
    margin-top: auto;
}

body:has(#menuToggle >input:checked) {
    overflow-y: hidden;
    height: 100vh;
    height: 100dvh;
}
.banner-layer{
    display: none !important;
}

.category_list_second,.category_list_third,.category_list_first{
    font-size: 14px;
}

.card__img{
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    float: left;
}

.card__img::before {
    content: "";
    display: block;
    width: 100%;
    position: relative;
    padding-top: 57%;
}

.clearfix::after {
    display: block;
    content: "";
    clear: both;
}

.card__text h5{
    width: 100%;
}

.card__img img {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    object-fit: contain;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

#menuToggle {
    display: block;
    position: relative;
    margin-left: 30px;



    /*-webkit-user-select: none;*/
    /*user-select: none;*/
}

#menuToggle a {
    text-decoration: none;
    color: #ffffff;
    /*font-family: var(--primaryFont);*/
    font-weight: bold;
    font-size: 53px;
    line-height: 61px;

    transition: color 0.3s ease;
}

#menuToggle a:hover {
    /*color: #08C;*/
}


#menuToggle:is(:has(input:checked), .active) {
    z-index: 999999999999999999999;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;


    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */

    -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    /*transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),*/
    /*            background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),*/
    /*            opacity 0.55s ease;*/

    animation: input 0.5s linear;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
    margin-bottom: 0px;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */

#menuToogle input:checked {
    position: fixed;
    right: 2rem;
    top: 10rem;
}

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #fff;

}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 50px;
    padding-top: 125px;
    /*background-color: rgba(34, 34, 34, 0.97);*/
    /*background:#08C;*/
    background: linear-gradient(90deg, rgba(0, 136, 204, 1) 0%, rgba(0, 72, 108, 0.2) 50%);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    /*transform: translate(-100%, 0);*/

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    display: none;

}

#menu li {
    margin: 30px 0;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked~ul {
    overflow-y: auto;
    display: initial;
}


/*#menuToggle input:checked ~ ul::after{*/
/*    content:"";*/
/*    right:0;*/
/*    top:0;*/
/*    position:absolute;*/
/*    background:#00699e ;*/
/*    width:50%;*/
/*    height:100%;*/
/*}*/

/*.header-bottom{*/
/*    padding-block-end:1.7rem;*/
/*}*/

.header-bottom>.mobile-menu-toggler {
    margin-left: 3rem;
}


.header-bottom>.mobile-menu-toggler>i {
    color: #cdcdcd;
    font-size: 3rem;
    margin-right: 1rem;
}

ul.pagination a {
    margin: 0 3px;
}

ul.pagination .active {
    background-color: #08C;
    color: #fff;
}


ul.pagination a:hover {
    background-color: #08C;
    color: #fff;
}

ul.pagination .active:hover {
    background-color: #fff;
    color: #08C;
}



.product-default {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.product-default figure {
    height: 50%;
}


.product-default figure img {
    height: 100% !important;
    width: 100% !important;
    object-fit: contain;
}

.product-default figure>a:first-child {
    width: 100%;
    height: 100%;
}

.product-default .product-details {
    flex: 1;
}




.compare-active i {
    color: #08C;
}

.compare-active:hover i {
    color: #777;
}

.product-default:hover>[class*="-btn"] {
    opacity: 1;
    transform: translateX(0);
    pointer-events: initial;
}

.product-default>[class*="-btn"] {
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 16px 30px rgba(112, 144, 176, 0.1);
    width: 3.4rem;
    aspect-ratio: 1;
    border-radius: 50%;
    display: grid;
    place-items: center;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    z-index: 1;
    transform: translateX(150%);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.product-default>.compare-btn {
    right: 5rem;
}

.compare-btn:hover i {
    color: #08C;
}

.fav-btn[data-liked] {
    color: #08C;
}

span.error-text {
    color: red !important;
}

input.error {
    border-color: red !important;
}


.owl-carousel .owl-stage {
    display: flex;
}




.client__li {
    position: relative;
}

:not(.header-dropdown)>.header-menu>ul {
    margin: 0;
    display: flex;
    gap: 2rem;
    font-size: 1.4rem;
}

.client__li:hover .dropdown-list {
    opacity: 1;
    visibility: visible;
}

.dropdown-list {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    color: #555;
    z-index: 2222;

    padding: 1.2rem 1.5rem;
    width: max-content;
    max-width: 20rem;
    border-radius: 0.3rem;
    box-shadow: 0px 8px 10px 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 8px 10px 3px rgba(0, 0, 0, 0.2);



    opacity: 0;
    visibility: hidden;
}


@media screen and (max-width: 767px) {
    .client__li {
        margin-right: 2rem;
    }
}

.home-slider .home-slide :is(h2, h4) {
    color: white;
    font-family: Poppins, sans-serif;
    opacity: 1;
    /*font-size:4em;*/
}

.home-slider .home-slide h2 {
    font-size: 4.3125em;
}

.home-slider .home-slide h4 {
    font-size: 1.54599057em;
}

.home-slider .home-slide1 .banner-layer {
    left: 0;
    top: 32rem;
}

.main-nav .menu .megamenu {
    width: max-content;
    transform: translateX(15px);
}

/* .logo-container {
    flex:1;
    max-width: 20rem;
}

.logo-container>img {
    width:100%;
    max-height: 60px;
} */

.logo-container>img {
    width:100%;
    height: 100%;
    display: block;
    object-fit: contain;
}

.logo-container {
    /*flex:1;*/
    width: 14rem;
    height: 10rem;
}

@media(max-width: 991px) {
    .logo-container {
       max-height: 55px; 
    }
}

.header-bottom.sticky-header.fixed .container {
    width: initial;
}


.sticky-navbar.fixed .sticky-info {
    max-width: initial;
    flex: 1;
}

.main-nav .menu {
    display: flex;
    justify-content: center;
}

.main-nav .menu>li>a[href] {
    font-size: 14px;
    padding: 1em 0;
}

.blog-header-text {
    font-size: 1.6rem;
}

.product-box {
    margin-block: 1rem;
}

.product-default figure {
    margin-block: 1.6rem !important;
}

.icon-container {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 2;
    display: flex;
    gap: 2rem;
}