.img-container{
    width: 100%;
    aspect-ratio: 1;
    height: 100%;
}

.img-container > img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.product-default .product-details{
    padding:1rem;
    height:100%;
    justify-content: stretch;
    
}

.product-details > h5{
    margin-block:0.5rem;
}

.product-default {
    height:100%;
}

/*.product-title{*/
/*    margin-top:1rem;*/
/*    width:100%;*/
/*    max-width:200px!important;*/
/*}*/

/*.product-default .product-title > a{*/
/*    display:flex;*/
/*    justify-content:space-between;*/
/*    gap:2rem;*/
/*}*/

/*.product-default a {*/
/*     white-space: initial; */
    
/*}*/


.sl-wrapper .sl-image div.sl-caption {
    font-size:1.5rem;
}